@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: smooth scrolling */
html {
  scroll-behavior: smooth;
}
/* Hide scrollbar for all elements */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
